{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Halaman Utama</title>
  <meta name="description" content="Halaman Utama">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="{% static 'images/base/favicon.ico' %}">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">  
  <link rel="stylesheet" href="{% static 'css/cs-skin-elastic.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Left Panel -->
  <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav title-bar">
                    <li class="menu-title">
                            <a id="1" href="/" class="title-link" style="

                            display: flex; 
                            flex-direction: row; 
                            justify-content: flex-start;">
                                <div>
                                    <svg class="svg" width="40" height="40" viewBox="0 0 40 40" fill="#5E6366" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M18 29V23H22V29H27V21H30L20 12L10 21H13V29H18Z" />
                                    </svg>
                                </div>
                                <div style="display: flex; align-items: center">
                                    Data Management
                                </div>
                            </a>
                        </li>
                        <li class="menu-title">
                            <a id="2" href="/account_list/" class="title-link" style="
                            display: flex; 
                            flex-direction: row; 
                            justify-content: flex-start;">
                                <div>
                                    <svg class="svg" width="40" height="40" viewBox="0 0 40 40" fill="#5E6366" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 13.7778V26.2222C12 27.2 12.7911 28 13.7778 28H26.2222C27.2 28 28 27.2 28 26.2222V13.7778C28 12.8 27.2 12 26.2222 12H13.7778C12.7911 12 12 12.8 12 13.7778ZM22.6667 17.3333C22.6667 18.8089 21.4756 20 20 20C18.5244 20 17.3333 18.8089 17.3333 17.3333C17.3333 15.8578 18.5244 14.6667 20 14.6667C21.4756 14.6667 22.6667 15.8578 22.6667 17.3333ZM20 21.6888C18.2222 21.6888 14.6667 22.6666 14.6667 24.4444V25.3332H25.3333V24.4444C25.3333 22.6666 21.7778 21.6888 20 21.6888Z"/>
                                    </svg>  
                                </div>
                                <div style="display: flex; align-items: center">
                                    Classical Model
                                </div>
                            </a>
                        </li>
                        <li class="menu-title">
                                <a id="2" href="/account_list/" class="title-link" style="
                                display: flex; 
                                flex-direction: row; 
                                justify-content: flex-start;">
                                    <div>
                                        <svg class="svg" width="40" height="40" viewBox="0 0 40 40" fill="#5E6366" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 13.7778V26.2222C12 27.2 12.7911 28 13.7778 28H26.2222C27.2 28 28 27.2 28 26.2222V13.7778C28 12.8 27.2 12 26.2222 12H13.7778C12.7911 12 12 12.8 12 13.7778ZM22.6667 17.3333C22.6667 18.8089 21.4756 20 20 20C18.5244 20 17.3333 18.8089 17.3333 17.3333C17.3333 15.8578 18.5244 14.6667 20 14.6667C21.4756 14.6667 22.6667 15.8578 22.6667 17.3333ZM20 21.6888C18.2222 21.6888 14.6667 22.6666 14.6667 24.4444V25.3332H25.3333V24.4444C25.3333 22.6666 21.7778 21.6888 20 21.6888Z"/>
                                        </svg>  
                                    </div>
                                    <div style="display: flex; align-items: center">
                                        Challenger Model
                                    </div>
                                </a>
                        </li>
                    <li class="menu-title">
                        <a id="3" href="/" class="title-link" style="
                        display: flex; 
                        flex-direction: row; 
                        justify-content: flex-start;">
                            <div>
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="#5E6366" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M25.3636 13.4545H26.0909C26.8909 13.4545 27.5455 14.1091 27.5455 14.9091V26.5455C27.5455 27.3455 26.8909 28 26.0909 28H14.4545C13.6545 28 13 27.3455 13 26.5455V14.9091C13 14.1091 13.6545 13.4545 14.4545 13.4545H15.1818V12.7273C15.1818 12.3273 15.5091 12 15.9091 12C16.3091 12 16.6364 12.3273 16.6364 12.7273V13.4545H23.9091V12.7273C23.9091 12.3273 24.2364 12 24.6364 12C25.0364 12 25.3636 12.3273 25.3636 12.7273V13.4545ZM15.1819 26.5455H25.3637C25.7637 26.5455 26.091 26.2182 26.091 25.8182V17.0909H14.4546V25.8182C14.4546 26.2182 14.7819 26.5455 15.1819 26.5455Z"/>
                                </svg>
                                        
                            </div>
                            <div style="display: flex; align-items: center">
                                Rules Definition
                            </div>
                        </a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
      </aside>
      <!-- /#left-panel -->
    <!-- /.breadcrumbs-->
    {% block content %}
     <!-- content goes here -->
    {% endblock %}
    </div>
</body>

  <!-- Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/flot-spline@0.0.1/js/jquery.flot.spline.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  {% block javascript %}
     <!-- content goes here -->
     
    
  {% endblock %}
</html>
